.container{
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    height:60vh;
    background-image: url('https://images.pexels.com/photos/2114014/pexels-photo-2114014.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: 100% 70vh;
    
}
input{
    height: 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    text-align: center;
    width:200px;
}
.card{
    padding:10px;
}
@media screen and (max-width:800px){
    input{
        width:100px;
    }
    .container{
        font-size:1rem;
        width: 50%;
        margin: auto;
        height:60%;
    }
    h1{
        font-size:1rem; 
    }
}